In [2]:
employees = [
    ["Alice", 40, 150],
    ["Bob", 35, 160],
    ["charlie", 45, 155],
    ["David", 50, 140],
    ["Eve", 38, 175],
    ["Frank", 42, 165]
]

salaries = []
for name, hours, rate in employees:
    salary = hours * rate
    salaries.append((name, salary))

for name, salary in salaries:
    print(f"{name} ได้รับเงินเดือน {salary} บาท")

Alice ได้รับเงินเดือน 6000 บาท
Bob ได้รับเงินเดือน 5600 บาท
charlie ได้รับเงินเดือน 6975 บาท
David ได้รับเงินเดือน 7000 บาท
Eve ได้รับเงินเดือน 6650 บาท
Frank ได้รับเงินเดือน 6930 บาท