In [4]:
employees = [
    ["Alice", 40, 150],
    ["Bob", 35, 160],
    ["Charlie", 45, 155],
    ["David", 50, 150],
    ["Eve", 38, 175],
    ["Frank", 42, 165],
]

print("Name\tHours\tRate\tHourly_Money")
for employees in employees:
    name = employees[0]
    hours = employees[1]
    rate = employees[2]
    hoursly_money = hours * rate
    print(f"{name}\t{hours}\t{rate}\t{hoursly_money}")

Name	Hours	Rate	Hourly_Money
Alice	40	150	6000
Bob	35	160	5600
Charlie	45	155	6975
David	50	150	7500
Eve	38	175	6650
Frank	42	165	6930