In [ ]:
employee = [
    ["Alice"   ,40, 150],
    ["Bob"     ,35, 160],
    ["Charlie" ,45, 155],
    ["David"   ,50, 140],
    ["Eve"     ,38, 175],
    ["Frank"   ,42, 165],
]
row = len(employee)
for r in range (0,row) :
    print(employee[r][0],end=" : ")
    salary = employee[r][1] * employee[r][2]
    print(salary)

Alice : 6000
Bob : 5600
Charlie : 6975
David : 7000
Eve : 6650
Frank : 6930